
  <header>
      
      <h1>FRIENDS</h1> 
  
  </header>
  
  
  <!--<div class="jumbotron text-center" style="margin-bottom:0">
      </div>
    
    <div class="container" >
        <app-login></app-login>
    <router-outlet></router-outlet>
</div>
    
    <nav>
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Crear cuenta</a>
          </nav>
    -->
    
          <router-outlet></router-outlet>
          <app-login></app-login>
               
            
      
        